numpy==1.12.1
geonamescache==0.21
seaborn==0.7.1
geopandas==0.2+61.gbf8f8ea
ipywidgets==6.0.0
pandas==0.19.2
PySAL==1.14.1
Shapely==1.5.17
matplotlib==2.0.0
Fiona==1.7.8
descartes==1.1.0
pyproj==1.9.5.1
ipython==6.1.0
adjustText==0.6.1
